
.centerForm {
  margin: auto;
  width: 70%;
}

.centerAbout{
  margin: auto;
  width: 20%;
}

.btn1 {
  margin-top: 15px;
  margin-right: 0.7%;
}

body{
  background-color: rgb(212, 205, 141) ;
}

/* #copy::placeholder{
  color: rgb(248, 8, 8);
} */

#menuItem:hover{
  background-color: #5e6f92;
}

.activePage{
  text-decoration: none;
  font-weight: bolder;
}

textarea.text-dark::placeholder{
  color: black !important;
}
textarea.text-light::placeholder{
  color: white !important;
}
